body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('img/estrela1.webp');
    background-size: auto; /* Mantém o tamanho original da imagem */
    background-position: center;
    background-repeat: repeat; /* Faz a imagem se repetir */
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00254e;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px; /* Aumenta o tamanho da fonte do cabeçalho */
}

main {
    margin-top: 150px; /* Adiciona margem superior para empurrar o conteúdo para baixo */
    padding: 20px; /* Adiciona espaçamento ao conteúdo principal */
}

h1 {
    margin: 0; /* Remove margens extras do título */
    text-align: center; /* Centraliza o texto */
}

/* Estilos da Navegação */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: right;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

nav ul li a.active,
nav ul li a:hover {
    background-color: #7b9df1;
    border-radius: 5px;
}

/* Estilos da Imagem no Canto Superior Direito */
#image-container img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    border: 5px solid #fdd648;
    position: absolute;
    top: 20px;
    right: 20px;
}
/* Estilos da Seção Principal (canto)*/
main {
    padding: 20px;
    text-align: justify;
}

h1 {
    color: #333;
    font-size: 2em;
}

p {
    font-size: 1.2em;
    color: #2a2929;
}

section {
    margin-bottom: 40px;
}

/* Estilos da Seção Home, Contato e Sobre */
#home, #contato, #sobre {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 0 auto;
    max-width: 1500px;
    border-left: 8px solid #fdd648;
    border-right: 8px solid #fdd648;
    margin-top: 5rem ;
}

#home h1, #contato h1, #sobre h1 {
    font-size: 6em;
    color:#00254e;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#home p, #contato p, #sobre p {
    font-size: 1.4em;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Estilos da Seção do Livro */
.book-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Centraliza a seção horizontalmente */
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 1200px; /* Largura máxima */
    gap: 20px; /* Espaço entre os elementos */
}

.book-description, .book-image {
    border: none;
}

.book-description {
    text-align: justify;
    flex: 1;
    max-width: 500px;
}

.book-description p {
    font-size: 0.9em;
    margin: 0;
}

.book-images {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.book-image,
.book-additional img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
}

.book-image img,
.book-additional-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.book-image img:hover,
.book-additional-image img:hover {
    transform: scale(1.05);
}

.title h1{
    display: flex;
    justify-content: center;
    color: #4447f8;
    align-items: center;
    flex-direction: column; 
    text-align: center;
    margin: 20px 0;
    text-align: center;
    margin: 40px 0; /* Ajuste a margem conforme necessário */
    font-size: 4rem; /* Ajuste o tamanho da fonte conforme necessário */

}

/* Estilos das Imagens (Biografia) */
.images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.image-item {
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.image-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.image-item img:hover {
    transform: scale(1.05);
}

/* Estilos da Seção de Biografia */
#biography {
    background-color: #fff;
    padding: 120px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-left: 8px solid #fdd648;
    border-right: 8px solid #fdd648;
    margin: 60px auto;
    max-width: 1320px;
}

#biography h1 {
    font-size: 4.0em;
    color: #00254e;
    margin-bottom: 20px;
}

#biography p {
    font-size: 1.4rem;
    color: #333;
    line-height: 1.6;
}

/* Estilos dos Cartões de Personagens */
.characters-title {
    background-color: #fff; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 1200px; 
    margin: auto; 
    text-align: center; 
    margin-top: 4rem;
}

.characters-title h1 {
    color: #00254e; 
    font-size: 4rem;
    margin: 0; 
}

#characters {
    display: flex;
    flex-wrap: wrap;/* Permite que os itens flexíveis quebrem para uma nova linha se não houver espaço suficiente em uma única linha. */
    justify-content: center; /* Alinha os itens flexíveis ao longo do eixo principal (horizontal) no centro. */
    gap: 20px; /* Define um espaçamento de 20px entre os itens flexíveis, tanto na horizontal quanto na vertical. */
    padding: 20px; 
}

.character-card {
    width: 300px; /* Largura do cartão */
    border-left: 8px solid #fdd648;
    border-right: 8px solid #fdd648;
    border-radius: 8px;
    overflow: hidden; /* Garante que nada vaze fora do cartão */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column; /* Faz com que o conteúdo do cartão empilhe verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    text-align:justify; /* Centraliza o texto dentro do cartão */
    transition: transform 0.3s ease-in-out; /* Suaviza o efeito de aumento ao passar o mouse */
    font-size: 1.3rem;
    margin-top: 4rem;
}

.character-card:hover {
    transform: scale(1.05); /* Aumenta o cartão ao passar o mouse */
}

.character-image {
    width: 80%;
    max-width: 200px; /* Define um limite máximo para a largura da imagem */
    height: auto; /* Ajusta a altura da imagem automaticamente para manter a proporção */
    margin: 15px 0; 
    object-fit: contain; /* Ajusta a imagem para caber dentro sem cortar */
    transition: transform 0.3s ease-in-out; /* Suaviza o efeito de aumento ao passar o mouse */
}

.character-card:hover .character-image {
    transform: scale(1.1); 
}

.character-card h2 {
    margin: 0;
    padding: 15px;
    background-color: #f4f4f4; 
    width: 100%;
    text-align: center; 
}

.character-card p {
    padding: 15px;
    margin: 0;
    line-height: 1.6;
    text-align: justify; /* Alinha o texto à esquerda */
    color: #333; /* Cor do texto */
}

/* Estilos para a Imagem no Canto Superior Direito */
.fixed-image {
    position: absolute;
    top: 20px;
    left: 50px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fdd648;
    z-index: 1000;
}

/* Estilo para a seção de Histórias do Livro */
.title {
    text-align: justify;
    margin: 2rem 0;
}

.title h1 {
    font-size: 4.0rem;
    padding-bottom: 0.5rem;
    color: #00254e;
}

#book-history {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px; /* Cantos arredondados */
    border-left: 8px solid #fdd648;
    border-right: 8px solid #fdd648;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1500px;
    margin: auto;
    font-size: 1.3rem;
    margin-top: 90px;
}

#book-history h1 {
    font-size: 4rem;
    color: #00254e; /* Cor azul */
    margin-bottom: 1rem;
}

#book-history p {
    margin-bottom: 1rem;
    line-height: 1.6;
}

#book-history ul,
#book-history ol {
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

#book-history blockquote {
    background-color: #f4f4f4;
    border-left: 4px solid #00254e; /* Borda à esquerda */
    padding: 1rem;
    font-size: 1.4rem;
    margin: 1.5rem 0;
    font-style: italic;
}

#book-history img {
    max-width: 100%;
    height: auto; 
    margin: 0 auto; 
    display: block; /* Faz com que a imagem seja tratada como um bloco para centralização */
    border: 1px solid #ddd; 
    padding: 5px; /* Adiciona espaçamento interno */
    border-radius: 8px;
    transition: transform 0.3s ease; /* Adiciona uma transição suave para o zoom */
    margin-bottom: 2.7rem;
    margin-top: 2.7rem;
}
#book-history img:hover {
    transform: scale(1.1); /* Aumenta o tamanho da imagem ao passar o mouse */
}

#book-history .image-title {
    text-align: center; /* Centraliza as imagens */
    margin-bottom: 20px;
}

#book-history .image-title img {
    border: 2px solid #2f2c8c; 
    padding: 5px; /* Espaço entre a imagem e a borda */
}


/* Estilo para a seção de motivação */
#why-site {
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px auto; 
    max-width: 1500px; 
    border-left: 8px solid #fdd648;
    border-right: 8px solid #fdd648;
}

/* Estilo para os parágrafos dentro da seção #why-site */
#why-site p {
    font-size: 1.5em;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333; 
    text-align: justify; 
}

/* Estilo para a imagem dentro da seção #why-site */
#why-site img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra leve para a imagem */
    transition: transform 0.3s ease; 
}

#why-site img:hover {
    transform: scale(1.1); 
}
.me {
    text-align: center;
    margin-top: 20px;
}

.me h1{
    color: #090655;
    margin-bottom: 20px;
    padding: 10px;
    display: inline-block;
    border-radius: 8px; /* Borda arredondada */
    font-size: 4rem;
}

/* Estilo para a seção de aprendizagem */
.apprenticeship {
    background-color: #ffffff;
    padding: 20px; /* Espaçamento interno */
    padding-top: 2%;
    margin: auto; /* Espaçamento externo */
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-left: 8px solid #fdd648;
    border-right: 8px solid #fdd648;
    max-width: 1500px;
    text-align: center; 
    text-align: justify; 
    font-size: 1.3em;
    margin-top: 5rem;
}

/* Estilo para o título da seção de aprendizagem */
.apprenticeship h1 {
    color: #00254e; 
    font-size: 4rem; /* Tamanho maior da fonte do título */
}
.apprenticeship h2 {
    font-size: 1.4rem;
    color: #021224; 
    margin-bottom: 1rem;
}

/* Estilo para os parágrafos dentro da seção de aprendizagem */
.apprenticeship p {
    margin: 0 0 15px; /* Margem inferior para espaçar parágrafos */
    line-height: 1.6; /* Altura da linha para melhor legibilidade */
}
.apprenticeship img {
    max-width: 100%; 
    height: auto; 
    margin: 0 auto; 
    display: block; 
    border: 1px solid #ddd; 
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: transform 0.3s ease; 
}
.apprenticeship img:hover {
    transform: scale(1.1); 
}
.apprenticeship blockquote {
    background-color: #f4f4f4;
    border-left: 4px solid #00254e; /* Borda à esquerda */
    padding: 1rem;
    font-size: 1.3rem;
    margin: 1.5rem 0;
    font-style: italic;
}

/* Estilo para a seção de avaliação */
.evalution {
    background-color: #f9f9f9; 
    padding: 20px; 
    padding-top: 2%;
    margin: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
    border-left: 8px solid #fdd648;
    border-right: 8px solid #fdd648;
    max-width: 1500px;
    text-align: center; 
    text-align: justify; 
    margin-top: 5rem;
    font-size: 1.3em;
}

.evalution h1 {
    color: #00254e; 
    margin-top: 0; 
    font-size: 4rem; 
}

.evalution ul {
    list-style-type: disc; /* Marca itens da lista com discos */
    padding-left: 20px; 
    margin: 0 0 15px; 
}

.evalution li {
    margin-bottom: 10px; 
    line-height: 1.6;
}

.evalution img {
    display: block; /* Remove o espaçamento abaixo da imagem */
    margin: auto; 
    max-width: 100%;
    height: auto; 
    transition: transform 0.3s ease; 
}
.evalution img:hover {
    transform: scale(1.1); 
}


/* Estilos para as Frases Reflexivas */
.reflection {
    background-color: #fff; 
    padding: 20px; 
    margin: 20px auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-left: 8px solid #fdd648; 
    border-right: 8px solid #fdd648; 
    max-width: 1500px; 
    font-size: 1.3em; 
    text-align: center; 
    margin-top: 2rem; 
}

.reflection-card {
    margin-bottom: 2rem; 
    padding: 20px; 
    border-radius: 8px; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.reflection-card:hover {
    transform: scale(1.02); /* Aumenta o tamanho do cartão */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.reflection-card h3 {
    font-size: 1.8em; 
    color: #00254e; 
    margin-bottom: 1rem; 
}

.reflection-card p {
    font-size: 1.2em; 
    color: #333; 
    margin-bottom: 0; 
    line-height: 1.6; 
}

.reflection-card img {
    width: 80%; 
    height: auto; 
    border-radius: 8px; 
    margin-top: 1rem;
}

/* Estilo para Contato e Autor */
.contact {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px auto;
    max-width: 1200px;
}

.contact-form, .author-info {
    background-color: #fff;
    border-radius: 8px;
    border-left: 8px solid #fdd648;
    border-right: 8px solid #fdd648;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 100%;
    flex: 1;
}

.contact-form {
    max-width: 600px;
}

.contact-form h2 {
    margin-bottom: 20px;
    color: #00254e;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.contact-form input[type="submit"] {
    background-color: #00254e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form input[type="submit"]:hover {
    background-color: #7b9df1;
}

.author-info h3 {
    margin: 10px 0;
    color: #00254e;
}

.author-info p {
    margin: 5px 0;
    font-size: 16px;
}

.author-photo {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 5px solid #fdd648;
    display: block;
    margin-bottom: 20px;
    object-fit: cover;
    margin:auto
}


/* Estilo Refências Bibliográficas */
.references {
    background-color: #f9f9f9; /* Fundo claro */
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-left: 8px solid #fdd648;
    border-right: 8px solid #fdd648;
    max-width: 1500px;
}

.references h1 {
    color: #00254e; /* Azul para combinar com os outros títulos */
    font-size: 3rem;
    text-align: center;
    margin-bottom: 15px;
}

.references ul {
    list-style-type: none; /* Remove o marcador padrão */
    padding: 0;
}

.references li {
    margin-bottom: 10px;
}

.references a {
    color: #000000; 
    text-decoration: none;
    font-size: 1.3rem;
}

.references a:hover {
    text-decoration: underline; /* Sublinhado ao passar o mouse */
}

/* Estilo para setas de navegação */
.navigation-arrows {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.arrow {
    text-decoration: none;
    font-size: 1.5rem;
    color: #090655;
    padding: 10px 30px; /* Aumenta o padding para mais espaço */
    border: 2px solid #090655;
    border-radius: 50px; 
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.arrow:hover {
    background-color: #090655;
    color: #ffffff;
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho ao passar o mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
}

.arrow-left {
    margin-right: auto;
}

.arrow-right {
    margin-left: auto;
}
